.steps__list {
    display:         flex;
    justify-content: center;
    list-style:      none;
}

.steps__list-item {
    margin: 0 .25rem;
}

.step__button {
    background-color: transparent;
    border:           0;
}

.step__button--current {
    color:       $black;
    font-weight: $fontWeightBold;
}

.step__button--finished {
    text-decoration: underline;
}

.prevNext {
    display:         flex;
    justify-content: space-between;
    padding:         1rem 0;
}

.prevNext__button {
    background-color: $white;
    border:           1px solid $darkGray;
    cursor:           pointer;
    padding:          .5rem 1rem;

    &:hover,
    &:focus {
        background-color: $lightGray;
    }

    &[disabled] {
        background-color: $lightGray;
        color:            $darkerGray;
        cursor:           not-allowed;
    }
}
