.su-bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(46 45 41 / var(--tw-bg-opacity));
}
.su-bg-black-20 {
    --tw-bg-opacity: 1;
    background-color: rgb(213 213 212 / var(--tw-bg-opacity));
}
.su-bg-black-70 {
    --tw-bg-opacity: 1;
    background-color: rgb(109 108 105 / var(--tw-bg-opacity));
}
.su-bg-blue\/10 {
    background-color: rgb(0 108 184 / 0.1);
}
.su-bg-gray-bg {
    --tw-bg-opacity: 1;
    background-color: rgb(250 250 250 / var(--tw-bg-opacity));
}
.su-bg-gray-light {
    --tw-bg-opacity: 1;
    background-color: rgb(240 240 240 / var(--tw-bg-opacity));
}
.su-bg-green\/10 {
    background-color: rgb(0 155 118 / 0.1);
}
.su-bg-orange\/10 {
    background-color: rgb(241 110 0 / 0.1);
}
.su-bg-red {
    --tw-bg-opacity: 1;
    background-color: rgb(229 8 8 / var(--tw-bg-opacity));
}
.su-bg-red-dark {
    --tw-bg-opacity: 1;
    background-color: rgb(177 4 14 / var(--tw-bg-opacity));
}
.su-bg-red-dark\/10 {
    background-color: rgb(177 4 14 / 0.1);
}
.su-bg-transparent {
    background-color: transparent;
}
.su-bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
