<!-- Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Imports -->
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600&display=swap" rel="stylesheet" />

<!-- Global data -->
<script>
    var globalData = {
        urls: {
            contentHub: 'https://sug-web.matrix.squiz.cloud/content',
            contentApi: 'https://sug-web.matrix.squiz.cloud/__api',
            fb: 'https://dxp-us-stage-search.funnelback.squiz.cloud',
        },
        tokens: {
            contentApi: '12d38e8866ffa3dab979d333957477a9',
        },
        pageHrefs: {
            home: '/',
            newContent: '/newContent.html',
            allContent: '/allContent.html',
            insights: '/insights.html',
            story: '/story.html',
        },
    };
</script>
