<!-- Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Imports -->
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600&display=swap" rel="stylesheet" />

<!-- Global data -->
<script>
    var globalData = {
        urls: {
            contentHub: 'http://127.0.0.1:8888/contentHub', // https://sug-web.matrix.squiz.cloud/content
            contentApi: 'https://sug-web.matrix.squiz.cloud/__api',
            fb: 'https://dxp-us-stage-search.funnelback.squiz.cloud',
        },
        tokens: {
            contentApi: 'XXXX',
        },
        pageHrefs: {
            home: '/',
            newContent: '/newContent.html',
            allContent: '/allContent.html',
            insights: '/insights.html',
            story: '/story.html',
        },
    };
</script>

<!-- JS API -->
<script src="/externals/jsApiMockup/jsApiMockup.js"></script>
<script>
    var options = new Array();
    options['key'] = '1234567890';
    var jsApi = new Squiz_Matrix_API(options);

    // For mockup jsAPI only
    window.jsApiMockedURL = 'http://127.0.0.1:8888/matrix-js-api';
</script>
